html,body{
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: .5em;
    text-decoration: none;
    color: aliceblue;
}

.nav a:hover{
    background-color: #3e3d3d82;
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    color: aliceblue;
}

.main-nav li{
    padding: 0 2%;
    color: aliceblue;
}

.main-header{
    background-image: url("images/header.jpg");  
    background-blend-mode: multiply;
    background-size: cover;
    color: aliceblue;
}

.band-name{
    text-align: center;
    margin: 0;
    font-size: 2em;
    color: aliceblue;
}

.band-name-large{
    font-size: 4em;
}

.main-footer{
    background-color: #011c49;
    padding: .25em 0 ;
    text-align: center;
    color: aliceblue;
}

.text-center {
    text-align: center;
  }

.text-left {
text-align: left;
}

.image-left{
    float: left;
    margin-right: 1em;
}

.button{
    background-color: #e7e7e7;
    color: black;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    }