html{
    margin: 0 ;
    padding: 0;
}

  
/* --------------------------------------------------------------- */
/* --------------------- Header and navigation bar --------------- */
/* --------------------------------------------------------------- */
body
{
    background: linear-gradient(
        90deg,
        #304352 0%,
        #d7d2cc 100%);
    background-size: cover;
    margin: 0 ;
    padding: 0;
}

/* .logo{
	width: 125px;
	height: 125px;
    cursor: pointer;
    margin-right: auto;
} */

header{
    background: linear-gradient(
    90deg,
    #304352 0%,
    #d7d2cc 100%);
    display: inline-block;
    justify-content: space-between;
    align-items: center; 
}

li{
    height: 100%;
    display: flex;
    font-size: 25px;
    text-decoration: none;
}

.nav__links{
    list-style: none;
    justify-content: space-between;
}  

.nav__links li{
    display: inline-block;
    text-align: center;
    margin-left: auto;
    padding: 0px 10px;
}  

.nav__links li a{
    transition:all 0.3s ease 0s;
}

.nav__links li a:hower{
    color: #0088a9;
}

button{
    padding: 10px 10px;
    background-color: rgba(0,136,169,1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

a{  
    /* Remove bullet points,underlines and color */
    z-index: 1;
    color: black;
    text-decoration: none;
    font-weight: 1000;
    font-size: 20px;
    padding: 10px 10px;
 }
 
/* nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
 } */


 /* We now need three pseudo-elements li:before, li:after and a:before 
to create the three blue lines that highlight the hyperlink on hover*/
/* li::before { 
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: #8e9eab;
    right: 0;
    z-index: 0;
    top: 33.33%;
    transition: all 0.5s;
 }

li::after {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: #8e9eab;
    left: 0;
    z-index: 0;
    bottom: 0;
    transition: all 0.5s;
 }

a::before {
    position: absolute;
    content: "";
    height: 33.33%;
    width: 0;
    background-color: #8e9eab;
    bottom: 66.66%;
    left: 0;
    transition: all 0.5s;
 }

li:hover:before,
li:hover::after,
li:hover a::before{
    width: 100%;
 } */

/* --------------------------------------------------------------- */
/* ------------------ Button for each belt  ------------------- */
/* --------------------------------------------------------------- */
.y-button{
    border-radius: 10px;
    background-color: #eeff00;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    text-align: center;
    display: inline-block;
}

.g-button{
    border-radius: 10px;
    background-color: green;
    color: rgba(0,0,0,.87);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    text-align: center;
    display: inline-block;
}

.b-button{
    border-radius: 10px;
    background-color: blue;
    color: rgba(0,0,0,.87);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    text-align: center;
    display: inline-block;
}

.br-button{
    border-radius: 10px;
    background-color: brown;
    color: rgba(0,0,0,.87);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    text-align: center;
    display: inline-block;
}


/* --------------------------------------------------------------- */
/* -------------------------- Footer ----------------------------- */
/* --------------------------------------------------------------- */

.footer{
    /* background-image: url("images/header.jpg");  
    background-blend-mode: multiply;
    background-size: cover; */
    background-color: #acaeb1;
    color: black;
    padding: .25em 0 ;
    text-align: center;
    position: absolute;
    width: 100vw;
}


/* --------------------------------------------------------------- */
/* -------------------------- Useful function -------------------- */
/* --------------------------------------------------------------- */  
.band-name{
    text-align: center;
    margin: 0;
    font-size: 2.5em;
    color: black;
}

.band-name-small{
    font-size: 1em;
}

.band-name-left{
    font-size: 2.5em;
    margin-left: auto;
}


/* Disable a button */
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

.text-center {
text-align: center;
}

.text-left {
text-align: left;
}

.video{
    width: 80%;
    height:auto;
    margin: 0;
}


/* --------------------------------------------------------------- */
/* ------------------ Card slider  ------------------------------- */
/* --------------------------------------------------------------- */

.slider-container {
    background: linear-gradient(
    90deg,
    #304352 0%,
    #d7d2cc 100%
);
    display: flex;
    /* align-items: center;   */
    justify-content: center;
    height: 100%;
}
  
.slider {
width: 60%;
height: 400px;
margin: 40px;
text-align: center;
border-radius: 20px;
overflow: hidden;
position: absolute;
}
  
.slides {
display: flex;
overflow-x: scroll;
position: relative;
scroll-behavior: smooth;
scroll-snap-type: x mandatory;
}

.slide:nth-of-type(even) {
background-color:#8e9eab 0%,
;
}

.slide {
display: flex;
justify-content: center;
align-items: center; 
flex-shrink: 0;
width: 100%;
height: 400px;
scroll-snap-align: center;
margin-right: 0px;
box-sizing: border-box;
transform-origin: center center;
transform: scale(1);
background: linear-gradient(
    90deg,
    #d7d2cc 0%,
    #304352 100%
);
}

.slide__text {
font-size: 40px;
font-weight: bold;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
display: inline-block;
position: fixed;
}

.slide a {
background: none;
border: none;
}

.slider::before,
.slider::after {
content: "";
z-index: 1;
background: none;
pointer-events: none;
}

.slider__nav {
box-sizing: border-box;
position: absolute;
bottom: 5%;
left: 50%;
width: 200px;
margin-left: -100px;
text-align: center;
}

.slider__navlinkJaune {
display: inline-block;
height: 5px;
width: 5px;
border-radius: 50%;
background-color: #eeff00;
margin: 0 5px 0 5px;
}

.slider__navlinkVert {
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: green;
    margin: 0 5px 0 5px;
    }
  
.slider__navlinkBleu {
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: rgb(27, 79, 248);
    margin: 0 5px 0 5px;
    }

.slider__navlinkMarron {
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: rgb(113, 43, 31);
    margin: 0 5px 0 5px;
    }


/* --------------------------------------------------------------- */
/* ------------------------ Table  ------------------------------- */
/* --------------------------------------------------------------- */

table {
    /* border-collapse: collapse; */
    font-size: 1em;
    width: 100vw;
    background-color: #050505;
    margin: 0;
    }

td:hover {background-color: coral;}
    
.titre {
    background-color: #fdfdfd;
    padding: 8px;
    text-align: center;
}

.separation{
    background-color: #f40808;
    padding: 8px;
    text-align: center;
}

.fond{
    background-color: #ffff04;
    padding: 5px;
    text-align: center;
}

.nope{
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
}

.tachiwaza{
    background-color: #2888e8;
    padding: 5px;
    text-align: center;
}

.ukemi{
    background-color: #047316;
    padding: 5px;
    text-align: center;
}

.oseikomi{
    background-color: #c26610;
    padding: 5px;
    text-align: center;
}

.degagement{
    background-color: #008b25;
    padding: 5px;
    text-align: center;
}

.Kansetstu{
    background-color: #4dccf2;
    padding: 5px;
    text-align: center;
}

.shime{
    background-color: #16ad2f;
    padding: 5px;
    text-align: center;
}