html,body{
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: .5em;
    text-decoration: none;
    color: black;
}

.nav a:hover{
    background-color: #3e3d3d82;
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
}

.main-nav li{
    padding: 0 2%;
    color: black;
}

.main-header{
    background-image: url("images/header.jpg");  
    background-blend-mode: multiply;
    background-size: cover;
    color: black;
}

.band-name{
    text-align: center;
    margin: 0;
    font-size: 2.5em;
    color: black;
}

.band-name-large{
    font-size: 4.5em;
}


.page-container{
    position: relative;
    min-height: 100vh;
}

.content-wrap{
    padding-bottom: 2.5rem;
}


.main-footer{
    background-image: url("images/header.jpg");  
    background-blend-mode: multiply;
    background-size: cover;
    color: aliceblue;
    padding: .25em 0 ;
    text-align: center;
    position: absolute;
    width: 100%;
}

.button{
    background-color: #011c49;
    color: black;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

.row {
    display: flex;
    }
    
.column {
flex: 33.33%;
padding: 5px;
}

.text-center {
    text-align: center;
  }

.text-left {
text-align: left;
}

.video{
    display: block;
    margin: 1em auto;
    width: 5%;
    height:calc(0.5625*5vw);
}