html,body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
}

/* --------------------------------------------------------------- */
/* -------------------------- Page style ------------------------- */
/* --------------------------------------------------------------- */ 

.page-container{
    position: relative;
    min-height: 100vh;
    height: auto;
}

.content-wrap{
    padding-bottom: 2.5rem;
}

.row {
    display: flex;
    }
    
.column {
flex: 50%;
padding: 0;
}



/* --------------------------------------------------------------- */
/* --------------------- Header and navigation bar --------------- */
/* --------------------------------------------------------------- */
.main-header{
    /* background-image: url("images/baniere.jpg");  
    background-blend-mode: multiply;
    background-size: cover; */
    /* background-color: #acaeb1; */
    background: linear-gradient(
    149deg,
    #304352 0%,
    #d7d2cc 100%
);
    color: black;
}

nav{
    width: 100vw;
}

/* No blank at the top of the page */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
 }

 li{
    position: relative;
    padding: 0 20px;
    height: 100%;
    display: flex;
 }


/* Remove bullet points,underlines and color */
a{
    z-index: 1;
    color: black;
    text-decoration: none;
    font-weight: 1000;
    font-size: 20px;
    padding: 10px 10px;
 }
 
/*  We now need three pseudo-elements li:before, li:after and a:before 
to create the three blue lines that highlight the hyperlink on hover*/
li::before {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: #8e9eab;
    right: 0;
    z-index: 0;
    top: 33.33%;
    transition: all 0.5s;
 }

li::after {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: #8e9eab;
    left: 0;
    z-index: 0;
    bottom: 0;
    transition: all 0.5s;
 }

a::before {
    position: absolute;
    content: "";
    height: 33.33%;
    width: 0;
    background-color: #8e9eab;
    bottom: 66.66%;
    left: 0;
    transition: all 0.5s;
 }

li:hover:before,
li:hover::after,
li:hover a::before{
    width: 100%;
 }

/* --------------------------------------------------------------- */
/* ------------------ Button for each belt  ----------- */
/* --------------------------------------------------------------- */

.y-button{
    border-radius: 2px;
    background-color: #eeff00;
    color: rgba(0,0,0,.87);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.g-button{
    border-radius: 2px;
    background-color: green;
    color: rgba(0,0,0,.87);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.b-button{
    border-radius: 2px;
    background-color: blue;
    color: rgba(0,0,0,.87);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.br-button{
    border-radius: 2px;
    background-color: brown;
    color: rgba(0,0,0,.87);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
}


/* --------------------------------------------------------------- */
/* -------------------------- Footer ----------------------------- */
/* --------------------------------------------------------------- */

.footer{
    /* background-image: url("images/header.jpg");  
    background-blend-mode: multiply;
    background-size: cover; */
    background-color: #acaeb1;
    color: black;
    padding: .25em 0 ;
    text-align: center;
    position: absolute;
    width: 100vw;
}


/* --------------------------------------------------------------- */
/* -------------------------- Useful function -------------------- */
/* --------------------------------------------------------------- */  
.band-name{
    text-align: center;
    margin: 0;
    font-size: 2.5em;
    color: black;
}

.band-name-large{
    font-size: 4.5em;
}

/* Disable a button */
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }


.text-center {
text-align: center;
}

.text-left {
text-align: left;
}

.video{
    width: 100%;
    height:auto;
}



/* --------------------------------------------------------------- */
/* ------------------ Card slider  ------------------------------- */
/* --------------------------------------------------------------- */

.slider-container {
    background: linear-gradient(
        149deg,
        #8e9eab 0%,
        #eef2f3 100%
    );
display: flex;
align-items: center;
justify-content: center;
height: 100%;
}
  
.slider {
width: 100%;
max-width: 600px;
height: 400px;
margin: 20px;
text-align: center;
border-radius: 20px;
overflow: hidden;
position: relative;
}
  
.slides {
display: flex;
overflow-x: scroll;
position: relative;
scroll-behavior: smooth;
scroll-snap-type: x mandatory;
}

.slide:nth-of-type(even) {
background-color:#8e9eab 0%,
;
}

.slide {
display: flex;
justify-content: center;
align-items: center;
flex-shrink: 0;
width: 100%;
height: 400px;
scroll-snap-align: center;
margin-right: 0px;
box-sizing: border-box;
background: white;
transform-origin: center center;
transform: scale(1);
}

.slide__text {
font-size: 40px;
font-weight: bold;
font-family: sans-serif;
}

.slide a {
background: none;
border: none;
}

a.slide__prev,
.slider::before {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
left: 5%;
}

a.slide__next,
.slider::after {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
right: 5%;
}

.slider::before,
.slider::after,
.slide__prev,
.slide__next {
position: absolute;
top: 48%;
width: 35px;
height: 35px;
border: solid black;
border-width: 0 4px 4px 0;
padding: 3px;
box-sizing: border-box;
}

.slider::before,
.slider::after {
content: "";
z-index: 1;
background: none;
pointer-events: none;
}

.slider__nav {
box-sizing: border-box;
position: absolute;
bottom: 5%;
left: 50%;
width: 200px;
margin-left: -100px;
text-align: center;
}

.slider__navlink {
display: inline-block;
height: 5px;
width: 5px;
border-radius: 50%;
background-color: black;
margin: 0 5px 0 5px;
}
  