html, body{
    margin: 0 ;
    padding: 0;
    background: linear-gradient(
        90deg,
        #304352 0%,
        #d7d2cc 100%);
    background-size: cover;
}
  

/* --------------------------------------------------------------- */
/* --------------------- Header and navigation bar --------------- */
/* --------------------------------------------------------------- */
.nav__links{
    list-style: none;
    justify-content: space-between;
    text-align:center;
    
}  

.nav__links li{
    display: inline-block;
    height: 100%;
    text-decoration: none;
}  


a{  
    /* Remove bullet points,underlines and color */
    z-index: 1;
    color: black;
    text-decoration: none;
    font-weight: 1000;
    font-size: 20px;
    padding: 5px 5px;
 }
 

/* --------------------------------------------------------------- */
/* -------------------------- Page style ------------------------- */
/* --------------------------------------------------------------- */ 

.page-container{
    position: relative;
    min-height: 100vh;
    height: auto;
}

.content-wrap{
    padding-bottom: 20px;
    padding-left: 0;
}

.row {
    display: flex; 
    }

.column {
flex: 50%;
padding: 0;
}

.content-box {
    columns: 2 auto;
  }


/* --------------------------------------------------------------- */
/* -------------------------- Useful function -------------------- */
/* --------------------------------------------------------------- */  
.band-name{
    text-align: center;
    margin: 0;
    font-size: 2.5em;
    color: black;
}

.band-name-small{
    font-size: 1em;
}

.band-name-left{
    font-size: 2.5em;
    margin-left: auto;
}


.text-center {
text-align: center;
}



/* --------------------------------------------------------------- */
/* ------------------------ Table  ------------------------------- */
/* --------------------------------------------------------------- */
table {
    margin-top: 0px;
    font-size: 1em;
    width: 80vw;
    background: linear-gradient(
        90deg,
        #304352 0%,
        #d7d2cc 100%);
    border: 1px solid;
}


.table-wrapper
{
    height: 75vh;
    overflow: auto;
} 


.headtitle{
    background: linear-gradient(
        90deg,
        #304352 0%,
        #d7d2cc 100%);
    font-size: 1em;
}

.center{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}    

textarea { height: auto; }

/* form field design start */
.form_control {
    border: none;
    background-color: transparent;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s ease-in-out;
}

.form_control::placeholder {
    color: inherit;
    opacity: 0.5;
}

.form_control:is(:focus, :hover) {
    box-shadow: inset 0 1px 6px #0002;
}

/* form field design end */
.success {
    background-color: #24b96f !important;
}

.warning {
    background-color: #ebba33 !important;
}

.primary {
    background-color: #259dff !important;
}

.secondery {
    background-color: #00bcd4 !important;
}

.danger {
    background-color: #ff5722 !important;
}

.action_container {
    display: inline-flex;
}

.action_container>* {
    border: none;
    outline: none;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.action_container>*+* {
    border-left: 1px solid #fff5;
}

.action_container>*:hover {
    filter: hue-rotate(-20deg) brightness(0.97);
    transform: scale(1.05);
    border-color: transparent;
    box-shadow: 0 2px 10px #0004;
    border-radius: 2px;
}

.action_container>*:active {
    transition: unset;
    transform: scale(.95);
}

