html, body{
    margin: 0 ;
    padding: 0;
    background: linear-gradient(
        90deg,
        #304352 0%,
        #d7d2cc 100%);
    background-size: cover;
}
  

/* --------------------------------------------------------------- */
/* --------------------- Header and navigation bar --------------- */
/* --------------------------------------------------------------- */
.nav__links{
    list-style: none;
    justify-content: space-between;
    text-align:center;
    
}  

.nav__links li{
    display: inline-block;
    height: 100%;
    text-decoration: none;
}  


a{  
    /* Remove bullet points,underlines and color */
    z-index: 1;
    color: black;
    text-decoration: none;
    font-weight: 1000;
    font-size: 20px;
    padding: 5px 5px;
 }
 

/* --------------------------------------------------------------- */
/* -------------------------- Page style ------------------------- */
/* --------------------------------------------------------------- */ 

.page-container{
    position: relative;
    min-height: 100vh;
    height: auto;
}

.content-wrap{
    padding-bottom: 20px;
    padding-left: 0;
}

.row {
    display: flex; 
    }

.column {
flex: 50%;
padding: 0;
}

.content-box {
    columns: 2 auto;
  }


#myInput{
    padding: 5px;
    border-radius: 50px;
    text-align: center;
    font-size: 1em;
    position: relative;
    left: 50%;
    margin-top: -5px;
    margin-left: -100px;
  }

#myTable{
    font-size:  1em;
}

.techniques{
    display: list-item;    
} 



/* --------------------------------------------------------------- */
/* -------------------------- Useful function -------------------- */
/* --------------------------------------------------------------- */  
.band-name{
    text-align: center;
    margin: 0;
    font-size: 2.5em;
    color: black;
}

.band-name-small{
    font-size: 1em;
}

.band-name-left{
    font-size: 2.5em;
    margin-left: auto;
}


.text-center {
text-align: center;
}



/* --------------------------------------------------------------- */
/* ------------------------ Table  ------------------------------- */
/* --------------------------------------------------------------- */
table {
    margin-top: 0px;
    font-size: 1em;
    width: 80vw;
    background-color: black;
}


.table-wrapper
{
    height: 75vh;
    overflow: auto;
} 


.headtitle{
    background-color:white;
    font-size: 1em;
}

.center{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}    

/* td:hover {background-color: coral;} */ 
    
.fond{
    background-color: #ffff04;
    padding: 5px;
    text-align: center;
}

.nope{
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
}

.tachiwaza{
    background-color: #2888e8;
    padding: 5px;
    text-align: center;
}

.ukemi{
    background-color: #047316;
    padding: 5px;
    text-align: center;
}

.oseikomi{
    background-color: #c26610;
    padding: 5px;
    text-align: center;
}

.degagement{
    background-color: #008b25;
    padding: 5px;
    text-align: center;
}

.Kansetstu{
    background-color: #4dccf2;
    padding: 5px;
    text-align: center;
}

.shime{
    background-color: #16ad2f;
    padding: 5px;
    text-align: center;
} 
